<div class="contentPage animate__animated animate__fadeIn animate__faster">
    <h2>Country</h2>
    <hr>

    <div class="row">

        <div class="col">
            <app-country-input
            [placeholder]="placeholder"
                (onEnter)="search($event)"
                (onDebounce)="suggestions($event)">
            </app-country-input>
        </div>
    </div>

</div>

<div *ngIf="isError" 
    class="alert alert-danger p-2 mt-2">
    There are no results with the term "{{term}}"
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>