<div class="contentPage animate__animated animate__fadeIn animate__faster">
    <h3><small>Region: </small>{{activatedRegion | titlecase}}</h3>
    <hr>

    <h5>Choose a region</h5>

    <div class="row">
        <div class="col">
            <button *ngFor="let region of regions"
                (click)="activateRegion(region); searchByRegion(region)"
                [class]="getCssClass(region)">
                {{region | titlecase}}
            </button>
        </div>
    </div>

    <div *ngIf="activatedRegion">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>