<div class="sidebar">
  <h2><img src="../../../assets/pngegg.png" alt=""></h2>
  <ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        Search by Country
    </li>
    <li routerLink="capital"
        routerLinkActive="active"
        class="list-group-item">
        Search by Capital
  </li>
    <li routerLink="region"
        routerLinkActive="active"     
        class="list-group-item">
        Search by Region
    </li>

  </ul>
</div>    
